---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Header from '../components/Header.astro';
---

<Layout title="Maik Pleines - Software Developer">
	<main>
		<section class="section">
			<p>
				Hi! I'm Maik, and I like to make Software!
			</p>
			<p>I'm a experienced software developer who likes to build stuff. I love creating things that live on <span class="funky">t</span><span class="funky">h</span><span class="funky">e</span> <span class="funky">w</span><span class="funky">e</span><span class="funky">b</span>.
				I enjoy making music, playing guitar, and spending time with family & friends in my free time.
	
			<p>I am currently building a note taking app called <a href="https://github.com/mpleines/the-markdown-project">The Markdown Project.</a></p>

			<p>If you want to know more you can download my resume, checkout my Github profile, or have a look at my blog. Feel free to send me an e-mail to <a href="mailto:service.mpleines@gmail.com">service.mpleines@gmail.com</a></p>
		<section>
	</main>
</Layout>

<style>
	.section {
		margin-top: 64px;
	}

	.funky {
		font-weight: bold;
		display: inline-block;
		transform: rotate(4deg) translateX(0) translateY(0);
	}
</style>
