---
import Link from './Link.astro';
---

<section class="header">
  <h1>Maik Pleines</h1>
  <h2>Software Developer from Brunswick, Germany.</h2>
  <nav class="navigation">
    <Link pathname="/" title="Home" linkColor="yellow"/>
    <Link pathname="/resume" title="Resume" linkColor="red"/>
    <Link pathname="https://github.com/mpleines" title="Github" linkColor="green"/>
  </nav>
</section>

<style>
	h2 {
		color: rgb(107, 107, 107);
	}

  .navigation {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}
</style>
