---
import Header from '../components/Header.astro';
interface Props {
	title: string;
}
 
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="max-width">
			<Header/>
			<slot />
		</div>
		<footer class="footer">©{new Date().getFullYear()} - Made with ♥ (and also Astro)</footer>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'ApfelGrotezkRegular';
		src: url('../fonts/ApfelGrotezk-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'ApfelGrotezkSatt';
		src: url('../fonts/ApfelGrotezk-Satt.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	:root {
		--blue: rgb(79, 129, 189);
		--red: rgb(244, 89, 105);
		--yellow: rgb(255, 221, 87);
		--green: rgb(120, 200, 160);
	}
	html {
		font-family: system-ui, sans-serif;
		background: rgb(250, 245, 246);
		color: rgb(37, 37, 37);
		font-family: 'ApfelGrotezkRegular';
	}

	.max-width {
    margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
	}

	h1 {
		font-family: 'ApfelGrotezkSatt';		
	}

	.footer {
		position: fixed;
		bottom: 24px;
		text-align: center;
		width: 100%;
		background: rgb(250, 245, 246); 
	}

</style>
